Package: Binary-desktop
Source: meta-gnome3
Version: 1:42+3
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Original-Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Installed-Size: 36
Depends: ubuntu-desktop, gnome-core (= 1:42+3), desktop-base, libproxy1-plugin-networkmanager, network-manager-gnome (>= 1.8), cheese (>= 3.38), file-roller (>= 3.38), gnome-calendar (>= 3.38), gnome-clocks (>= 3.38), gnome-color-manager (>= 3.36), gnome-maps (>= 3.38), gnome-music (>= 3.36), shotwell | gnome-photos (>= 3.36), gnome-todo (>= 3.28), gnome-weather (>= 3.36), orca (>= 3.38), rygel-playbin (>= 0.36), rygel-tracker (>= 0.36), simple-scan (>= 3.36), avahi-daemon, evolution (>= 3.36), gnome-sound-recorder, gnome-tweaks (>= 3.30), libgsf-bin, libreoffice-gnome,rhythmbox (>= 3.0), seahorse (>= 3.36), xdg-user-dirs-gtk, cups-pk-helper (>= 0.2), evolution-plugins (>= 3.36), gstreamer1.0-libav (>= 1.10), gstreamer1.0-plugins-ugly (>= 1.10), rhythmbox-plugins, rhythmbox-plugin-cdrecorder, totem-plugins, steam, google-chrome-stable, blender, gnome-shell-extension-appindicator, gnome-shell-extension-desktop-icons-ng, gnome-shell-extension-gsconnect
Recommends: gnome-remote-desktop, nautilus-extension-brasero, transmission-gtk
Suggests: alacarte, empathy, goobox | sound-juicer, polari, vinagre (>= 3.22), webext-ublock-origin
Section: metapackages
Priority: optional
Description: Full Binary OS Desktop Environment, with extra components
 This is the Binary OS Desktop environment, an intuitive and attractive
 desktop, with extra components.
 .
 This metapackage depends on the standard distribution of the GNOME
 desktop environment, plus a complete range of plugins and other
 applications integrating with GNOME and Debian, providing the best
 possible environment to date.
